.main {
  margin: 0;
  padding: 12px;
}
.inner {
  position: relative;
  background-color: var(--elem);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 1rem;
}
.title {
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}
