* {
    font-size: 14px;
}

:root {
    --padding-s: 16px;
    --padding-l: 24px;
    --margin-s: 16px;
    --margin-l: 24px;

    --size-s: 16px;
    --size-xl: 36px;
}

body {
    width: unset;
    max-width: 1200px;
}

.form-wrapper {
    max-width: 270px;
}

.toast-content {
    font-size: 13px;
    
}

.question-head {
    align-items: flex-start;
}