* {
    font-size: 14px;
}

:root {
    --padding-s: 16px;
    --padding-l: 24px;
    --margin-s: 16px;

    --size-s: 36px;
}

body {
    width: unset;
    max-width: 1200px;
}

.form-wrapper {
    max-width: 300px;
}

.question-image {
    max-width: unset;
}
.question-head{
    align-items: flex-start;
}
.question-body{
    margin-bottom: -21px;
}