.list-question {
  display: flex;
  flex-wrap: wrap;
  margin: -6px;
}
.question {
  width: calc(100% / 3);
  display: flex;
}
.wrapper {
  flex: 1;
  padding: 1rem;
  margin: 6px;
  background-color: var(--elem);
  background-color: #fff;
  box-shadow: var(--shadow-2);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  & > * {
    user-select: text !important;
    -webkit-user-select: text !important;
    -moz-user-select: text !important;
    margin-bottom: 8px;
  }
  & > *:nth-last-child(2) {
    margin: 0;
  }
}
.label {
  font-weight: bold;
}
.question-text {
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
.question-img {
  display: flex;
  width: 100%;
  // border: 1px solid var(--border);
  // border-radius: 8px;
}
.line {
  position: relative;
  height: 1px;
  background-color: var(--border);
  margin: 1.4rem 0;
}
.line::before {
  content: "Answer";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--elem);
  padding: 0 12px;
  font-weight: bold;
}
.option {
  display: flex;
}
.choose {
  font-weight: bold;
  color: var(--primary);
  color: #00aa00;
}
.br {
  line-height: 0;
  margin: 0;
}
@media (max-width: 1280px) {
  .question {
    width: calc(100% / 2);
  }
}
@media (max-width: 768px) {
  .question {
    width: calc(100%);
  }
}
