@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    line-height: 1.5;
    font-family: 'Inter';
    font-size: var(--font-size-s);
    font-weight: normal;
    text-decoration: none;
    user-select: text !important;
    -moz-user-select: text !important;
    -webkit-user-select: text !important;
}

:root {
    --padding-s: 12px;
    --padding-m: 16px;
    --padding-l: 20px;
    --padding-xl: 24px;
    --margin-s: 12px;
    --margin-m: 16px;
    --margin-l: 20px;
    --font-size-s: 13px;
    --font-size-m: 14px;
    --size-xl: 28px;
}

::selection {
    background-color: #7A6BFF;
    color: #F5F5F5;
}

body {
    max-width: 1200px;
    width: 100%;
    min-width: 400px;
    height: 100svh;
    min-height: 400px;
    background-color: #F3F5F6;
    position: relative;
    margin: auto;
}

strong {
    font-weight: 500;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0;
}

@keyframes opIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes opDe {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes trans {
    0% {
        transform: translateY(32px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes transZ {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }

    100% {
        transform: translateY(32px);
        opacity: 0;
    }
}

@keyframes toastShow {
    0% {
        transform: translate(-50%, calc(100% + 40px));
    }

    100% {
        transform: translate(-50%, calc(var(--padding-s) * -1));
    }
}

@keyframes toastHide {
    0% {
        transform: translate(-50%, calc(var(--padding-s) * -1));
    }

    100% {
        transform: translate(-50%, calc(100% + 40px));
    }
}

#toast.successful.animate {
    animation: toastHide 1.2s ease forwards;
}

#toast.error.animate {
    animation: toastHide 1.2s ease forwards;
}

#toast.warning.animate {
    animation: toastHide 1.2s ease forwards;
}

#toast.successful {
    animation: toastShow 0.8s ease forwards;

    svg {
        fill: #00BB00;
    }
}

#toast.error {
    animation: toastShow 0.8s ease forwards;

    svg {
        fill: #EE0000;
    }
}

#toast.warning {
    animation: toastShow 0.8s ease forwards;

    svg {
        fill: #FFA500;
        margin-left: 12px;
    }
}

#toast {
    position: fixed;
    left: 50%;
    bottom: 0;
    width: max-content;
    max-width: 768px;
    transform: translate(-50%, 0);
    background-color: #FFF;
    padding: var(--padding-s);
    padding-right: var(--padding-l);
    border-radius: 20px;
    box-shadow: 0 0 40px #0000000d;
    display: flex;
    align-items: center;
    transform: translate(-50%, calc(100% + 40px));
    z-index: 101;
}

.toast-icon {
    display: flex;
    margin-right: var(--margin-s);
}

.toast-icon svg {
    width: var(--size-xl);
}

.toast-body {
    display: flex;
    flex-direction: column;
}

.toast-title {
    font-weight: 500;
    user-select: none !important;
}

.toast-content {
    white-space: wrap;
    user-select: none !important;
    font-size: 11px;
}

.form.active {
    display: flex;
}

.form {
    position: fixed;
    inset: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background-color: #00000020;
    backdrop-filter: blur(4px);
}

.form.active {
    animation: opIn .5s ease forwards;

    .form-wrapper {
        animation: trans .5s ease forwards;
    }
}

.form.active.animate {
    animation: opDe .5s ease forwards;

    .form-wrapper {
        animation: transZ .5s ease forwards;
    }
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    border-radius: 12px;
    max-width: 220px;
    overflow: hidden;
}

.form p {
    padding: var(--padding-s);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.form p>strong {
    font-size: var(--font-size-s);
    margin-bottom: calc(var(--margin-s) / 2);
}

.form hr {
    margin: 8px 0;
    border-top: 1px solid #7A6BFF;
    opacity: .2;
}

.form div>div {
    display: flex;
    justify-content: space-between;
}

.form-wrapper div {
    border-top: 1px solid #7a6bff33;
}

.form div>button {
    font-size: var(--font-size-s);
    background-color: transparent;
    border: 0;
    outline: 0;
    padding: 6px 12px;
    background-color: transparent;
    cursor: pointer;
    user-select: none !important;
    flex: 1;
    transition: .15s;
    color: #7A6BFF;
}

.form-wrapper>div>:last-child {
    border: 0 !important;
}

.form div>button:hover {
    background-color: #7a6bff0d;
}

.form div>button:active {
    background-color: #7a6bff1a;
}

#btn-no {
    border-right: 1px solid #7A6BFF33;
}

#btn-yes {
    border-right: 1px solid #7A6BFF33;
    font-weight: 600;
}

/* setting */

#setting {
    position: fixed;
    inset: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background-color: #00000020;
    backdrop-filter: blur(4px);
}

#setting.active {
    display: flex;
    animation: opIn 0.5s ease forwards;

    .setting-wrapper {
        animation: trans 0.5s ease forwards;
    }
}

#setting.active.animate {
    animation: opDe 0.5s ease forwards;

    .setting-wrapper {
        animation: transZ 0.5s ease forwards;
    }
}

#setting * {
    user-select: none !important;
}

.setting-wrapper {
    max-width: 220px;
    width: 100%;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    overflow: hidden;
}

.setting-title {
    font-size: var(--font-size-m);
    font-weight: 500;
    text-align: center;
    padding: var(--padding-s);
}

.options {
    display: flex;
    flex-direction: column;
}

.option {
    padding: calc((var(--padding-s)) / 1.5) var(--padding-s);
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-top: 1px solid #7A6BFF33; */
    cursor: pointer;
}

.option:hover {
    background-color: #7a6bff0d;
}

.option:active {
    background-color: #7a6bff1a;
}

.option-check {
    display: flex;
    align-items: center;
    position: relative;
    width: 36px;
    padding: 2px;
    border-radius: 50px;
    overflow: hidden;
}

.option-check input {
    appearance: none;
    width: 0;
    height: 0;
}

.option-check input:checked+.option-slider {
    transform: translateX(16px);
}

.option-check input:checked+span+.option-background {
    background-color: #7A6BFF;
}

.option-background {
    content: '';
    position: absolute;
    inset: 0;
    background-color: #EEE;
    transition: 0.2s;
}

.option-slider {
    height: 16px;
    aspect-ratio: 1/1;
    background-color: #FFF;
    border-radius: 50%;
    transition: 0.2s;
    z-index: 1;
}

#btn-cancel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: calc(var(--margin-s) / 1.5);
    border-top: 1px solid #7A6BFF33;
    color: #7A6BFF;
    font-weight: 500;
    font-size: var(--font-size-m);
    cursor: pointer;
}

#btn-cancel:hover {
    background-color: #7a6bff0d;
}

#btn-cancel:active {
    background-color: #7a6bff1a;
}

/* upload */
#upload {
    position: fixed;
    inset: 0;
    backdrop-filter: blur(4px);
    background-color: #00000020;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#upload.active {
    display: flex;
    animation: opIn 0.5s ease forwards;

    .upload-wrapper {
        animation: trans 0.5s ease forwards;
    }
}

#upload.active.animate {
    animation: opDe 0.5s ease forwards;

    .upload-wrapper {
        animation: transZ 0.5s ease forwards;
    }
}

.upload-wrapper {
    max-width: 220px;
    width: 100%;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    overflow: hidden;
}

.upload-wrapper>* {
    padding: var(--padding-s);
    text-align: center;
}

.upload-title {
    font-size: var(--font-size-m);
    font-weight: 500;
}

.upload-area {
    display: flex;
    flex-direction: column;
}

#upload-text {
    margin-top: var(--margin-s);
    flex: 1;
    padding: 4px;
    border: 0;
    outline: 0;
    box-shadow: inset 0 0 4px #7a6bff1a;
    resize: none;
    border-radius: 4px;
    min-height: 120px;
    font-size: 10px;
}

.action-area {
    display: flex;
    align-items: center;
    border-top: 1px solid #7A6BFF1a;
    padding: 0;
}

.action-area>* {
    flex: 1 0;
    padding: calc(var(--padding-s) / 1.5) var(--padding-s);
    cursor: pointer;
    color: #7A6BFF;
}

#btn-send {
    border-left: 1px solid #7A6BFF1a;
    font-weight: 500;
    font-size: var(--font-size-m);
    user-select: none !important;
}

.action-area>*:hover {
    background-color: #7a6bff0d;
}

.action-area>*:active {
    background-color: #7a6bff1a;
}

/* main */
.wrapper {
    display: flex;
    flex-direction: column;
    padding: var(--padding-s);
}

.dangerous {
    display: flex;
    align-items: stretch;
    margin-bottom: var(--margin-s);
}

.dangerous * {
    user-select: none !important;
}

.dangerous>* {
    padding: var(--padding-s);
    background-color: #FFF;
    border-radius: 12px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    user-select: none !important;
    transition: color 0.15s;
    transition: background 0.15s;
    margin-left: var(--margin-s);
    /* box-shadow: 0 0 10px #0000000d; */
    color: #7A6BFF;
}

.author {
    display: unset;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 44px;
}

.btn img {
    width: 14px;
}

#btn-upload {
    display: none;
}

#btn-upload.show {
    display: flex;
}

.dangerous :first-child {
    margin: 0;
}

.dangerous>*:hover {
    outline: 2px solid #c0b9ff;
}

.dangerous>*:active {
    background-color: #b3aaff;
    color: #FFF !important;
}

#btn-clear {
    color: #FFF;
    flex: 1;
    transition: color 0.15s;
}

#btn-clear:hover {
    color: #7A6BFF;
}

/* question */
.list-question {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: calc(var(--margin-s) / 2 * -1);
}

.question {
    background-color: #FFF;
    padding: var(--padding-s);
    border-radius: 12px;
    margin: calc(var(--margin-s) / 2);
    display: flex;
    flex-direction: column;
    /* box-shadow: 0 0 10px #00000010; */
    flex: 1 0 calc(100% / 3 - var(--margin-s));
    min-width: 376px;
}

.question-head {
    margin-bottom: var(--margin-l);
    padding-bottom: var(--padding-s);
    position: relative;
    display: flex;
    flex-direction: column;
}

.question-head::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-bottom: 1px solid #DDD;
}

.question-head::after {
    content: 'Answer';
    position: absolute;
    top: 100%;
    left: 50%;
    display: flex;
    justify-content: center;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    padding: 0 8px;
}

.question-content {
    font-weight: bold;
    margin-bottom: 8px;
}

.question-image {
    max-width: 100%;
    width: fit-content;
    border: 1px solid #eee;
    border-radius: 8px;
}

.question-body {
    display: flex;
    flex-wrap: wrap;
    line-height: 0;
}

.answer {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.answer.choose p {
    font-weight: bold;
    color: #00BB00;
}

.img.answer {
    flex-direction: row;
    padding: 8px;
    border-radius: 6px;
    flex: 1;
    max-width: calc(100% / 4 - (var(--margin-s) / 2));
    margin-right: var(--margin-s);
    position: relative;
    border: 1px solid #eee;
}

.question-body>:nth-last-child(2) {
    margin: 0;
}

.img.answer.choose {
    border: 1px solid #00BB00;
}

.img>div {
    flex: 1;
    display: flex;
    margin-left: 8px;
}

.answer img {
    width: 100%;
    aspect-ratio: 5/2;
    border-radius: 4px;
    object-fit: cover;
}